// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#seconds-wrapper div {
  width: 20%;
  min-height: 1em;
  background: #000;
  margin: 10px;
}
